@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 30px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 60px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Header start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

/* Home Page */
#hero{
    background-image: url("Img/cushion_banner_1500x.webp");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
    }

#hero button{
    background-image: url("Img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}    

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 {
    text-align: center;
  }
  
  .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s;
    position: relative;
  }
  
  #product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  
  #product1 img {
    width: 100%;
    border-radius: 20px;
  }
  
  #product1 .pro .des {
    text-align: start;
    padding: 10px 0;
  }
  
  #product1 .pro .des span {
    color: #606063;
    font-size: 20px;
  }
  
  #product1 .pro .des h5 {
    padding-top: 10px;
    font-size: 30px;
  }
  #product1 .pro .des .star {
    padding-top: 10px;
    color: rgba(255, 77, 0, 0.915);
  }
  
  #product1 .pro .des h4 {
    padding-top: 10px;
    font-size: 25px;
    color: #088178;
  }
  
  #product1 .pro a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 40px;
    background-color: #088178;
    font-weight: 500;
    color: #fff;
    padding-top: 7px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  /* ---------------BANNER------------ */
  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Img/b2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
  }
  
  #banner h4 {
    color: white;
  }
  
  #banner h2 {
    color: white;
    padding-top: 20px;
  }
  
  #banner h2 span {
    color: red;
  }
  
  .banbtn {
    background-color: #ffffff;
    margin-top: 35px;
  }
  
  .banbtn:hover {
    color: rgb(255, 255, 255);
  }
  
  /* ----------------banner-box--------------- */
  #sm-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
  #sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Img/9963.webp);
    background-position: center;
    background-size: cover;
    flex-basis: 45%;
    height: 50vh;
    padding: 10px 40px;
    margin: 0 8px;
  }
  #sm-banner .banner-box2 {
    background-image: url(img/b10.jpg);
  }
  #sm-banner h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 5px;
  }
  #sm-banner h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
  }
  #banner3 {
    display: flex;
    width: 99%;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
  }
  #banner3 .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/b7.jpg);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-size: cover;
    flex-basis: 30%;
    /* min-width: 30%; */
    height: 30vh;
    padding: 10px 40px;
    margin: 0 8px;
  }
  #banner3 h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
  }
  #banner3 h3 {
    color: rgb(228, 44, 44);
    font-size: 30px;
    font-weight: 800;
  }
  #banner3 .banner-box2 {
    background-image: url(img/b4.jpg);
  }
  #banner3 .banner-box3 {
    background-image: url(Img/8765.webp);
  }
  /* ---------newsletter---------- */
  #newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./img/b20.png);
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #415bd0;
    height: 30vh;
  }
  #newsletter .form {
    display: flex;
    width: 40%;
    text-align: center;
  }
  
  #newsletter h4 {
    color: #fff;
  }
  #newsletter p {
    color: #fff;
  }
  #newsletter p span {
    color: rgb(250, 171, 143);
    font-weight: 600;
  }
  #newsletter input {
    height: 4.3rem;
    width: 100%;
    padding: 0 20px;
    outline: none;
    border-radius: 5px;
    font-size: 25px;
  }
  #newsletter button {
    height: 4.3rem;
    background-color: #088178;
    padding: 15px 30px;
    font-size: 25px;
    color: #fff;
    border: none;
    text-align: center;
    white-space: nowrap;
  }
  /* ------------footer------------------- */
  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo {
    margin-bottom: 40px;
  }
  footer h4 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  footer .space {
    margin-bottom: 25px;
  }
  
  footer p {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  footer a {
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #465b52;
  }
  .icons i {
    cursor: pointer;
    margin-left: 5px;
    font-size: 25px;
  }
  .icons i:hover,
  footer a:hover {
    color: #088178;
  }
  .copyright {
    text-align: center;
  }
  .copyright .color {
    color: #ff8411;
  }
  footer .install .row img {
    border: 2px solid #036c65;
  }
  footer .install img {
    margin: 10px 0px 15px 0px;
  }
  /* -----------------------------------------shop------------------------------ */
  .page-header {
    background-image: url(./img/b1.jpg);
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .page-header h2,
  .page-header p {
    color: #fff;
  }
  #pagination {
    text-align: center;
    margin-top: 25px;
  }
  #pagination a {
    text-decoration: none;
    background-color: #036c65;
    border-radius: 4px;
    padding: 25px;
    margin: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
  }
  /* -----------------------------------------------singleproduct--------------- */
  #prodetail {
    display: flex;
    margin-top: 25px;
  }
  #prodetail .single-pro-img {
    width: 40%;
    margin-left: 50px;
  }
  .single-pro-img {
    margin-right: 50px;
  }
  .small-img-group {
    display: flex;
    justify-content: space-between;
  }
  .small-img-col {
    cursor: pointer;
    flex-basis: 24%;
  }
  .single-pro-detail {
    width: 50%;
    text-align: left;
  }
  .single-pro-detail h6 {
    font-size: 40px;
    margin: 15px;
    padding-top: 50px;
  }
  .single-pro-detail h4 {
    font-size: 50px;
    margin: 10px;
    padding-bottom: 50px;
  }
  .single-pro-detail h2 {
    font-size: 70px;
    margin: 10px;
    color: #088178;
  }
  .single-pro-detail select {
    font-size: 30px;
    padding: 20px;
    margin-right: 5px;
  }
  .single-pro-detail input {
    font-size: 30px;
    padding: 20px;
    width: 80px;
    margin-right: 5px;
  }
  .single-pro-detail button {
    margin-right: 5px;
  }
  .single-pro-detail h5 {
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 25px;
  }
  .single-pro-detail span {
    font-size: 35px;
    line-height: 40px;
  }
  /* -------------------------------------------------blog-----------------------==----------- */
  .blog-header {
    background-image: url(./img/b19.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: fixed; */
  }
  
  #blog {
    padding: 150px 150px 0px 150px;
  }
  #blog .blog-box {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-bottom: 80px;
  }
  .blog-img {
    width: 80%;
    margin-right: 40px;
  }
  .blog-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .blog-details {
    width: 50%;
  }
  .blog-details a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: 700;
    font-size: 35px;
    color: #1b2621;
  }
  .blog-details a:hover {
    color: #036c65;
  }
  .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0px;
    color: #c9cbce;
    z-index: -1;
  }
  /* -------------------------about------------------------------ */
  .about-header {
    background-image: url(img/banner.png);
  }
  #about-head {
    display: flex;
    align-items: center;
  }
  #about-head img {
    width: 50%;
    height: auto;
    padding-right: 50px;
  }
  #about-head h2 {
    padding-bottom: 50px;
  }
  #about-head p {
    font-size: 35px;
    line-height: 30px;
  }
  #about-head abbr {
    font-size: 30px;
  }
  #about-head marquee {
    font-size: 30px;
    margin-top: 25px;
  }
  #about-app {
    text-align: center;
  }
  #about-app h1 {
    margin-bottom: 25px;
  }
  #about-app .video video {
    margin-bottom: 25px;
    height: 100%;
    width: 70%;
  }
  /* --------------------contact us ----------------------------------- */
  #contact-detail {
    display: flex;
    width: 100%;
  }
  .details {
    width: 50%;
  }
  
  .details span {
    font-size: 45px;
  }
  .details h2 {
    padding-top: 30px;
  }
  .details h3 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .details li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .details li i {
    margin-right: 35px;
    padding-bottom: 6px;
    color: #088178;
    font-size: 25px;
  }
  #contact-detail .map {
    width: 50%;
  }
  #contact-detail .map iframe {
    width: 100%;
  }
  #formdetails {
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 50px;
    border: 2px solid black;
  }
  
  #formdetails form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #formdetails input,
  textarea {
    font-size: 35px;
    padding: 25px 35px;
    margin-bottom: 25px;
  }
  #formdetails form h2 {
    margin-bottom: 30px;
  }
  #formdetails form span {
    font-size: 45px;
    color: #036c65;
  
    margin: 30px;
    font-weight: 600;
    text-decoration: underline;
  }
  #formdetails form button {
    align-items: center;
    width: 25%;
  }
  /* ---------------------------cart=====--------------------------------------- */
  #cart {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
  }
  #cart table{
    font-size: 25px;
  }
  #cart table input{
    font-size: 25px;
   padding: 20px 10px;
  }
  #cart table td:nth-child(1){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(2){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(3){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(4){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(5){
    width: 250px;
    text-align: center;
    
  }
  #cart table td:nth-child(5) input{
    width: 70px;
    text-align: center;
  
  }
  #cart table td:nth-child(6){
    width: 250px;
    text-align: center;
  }
  #cart table {
    /* border: 1px solid rgb(0, 0, 0); */
    border-bottom: 2px solid black;
  }
  #cart table thead tr td {
    border: 1px solid rgb(55, 54, 54);
  border-left: none;
    border-right: none;
  
    padding: 25px;
  }
  #cart table img {
    width: 130px;
    padding: 10px 5px ;
  }
  #cart-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cupons h3{
  font-size: 45px;
  }
  .cupons input{
    font-size: 30px;
    padding: 20px ;
  }
  #sub-total {
    font-size: 35px;
    border: 2px solid black;
   width: 50%;
   white-space: nowrap;
  }
  #sub-total tr td{
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid black;
  }
  #sub-total h3{
    text-align: center;
    padding: 25px;
  }
  
  #sub-total table{
    border-top:2px solid black ;
  }
  .btn-cart{
    margin: 30px auto;
    margin-left: 50px;
  }
  